
.conteinertour {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 50px;
}

.tour {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.concert {
    font-size: 50px;
    font-weight: bold;
}

.left {
    width: 50%;
    height: 600px;
    margin: 10px;
    display: block;
}

.right {
    width: 50%;
    height: 600px;
    margin: 10px;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.date {
    line-height: 1px;
}

.city {
    width: 250px;
    height: 50px;
    line-height: 1px;
}

.ticket {
    text-decoration: none;
    background-color: #fff;
    border-radius: 0;
    border: 2px solid rgba(0,0,0,.7);
    color: #000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 18px;
    padding: 6px 32px;
    letter-spacing: 1px;
    text-align: center;
    transition: all .3s ease;
    position: relative;
    display: inline-block;
    overflow: visible;
}

.picture {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.line {
    margin-top: 10px;
    background-color: rgba(255, 217, 0, 0.664);
    width: 75%;
    height: 3px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px silver;
}